/*
Style color of all parts of the web page
*/

html {
    background-color: #dbf7de;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #2c5730;
    color: #000;
    margin: 0 0 0;
    padding: 0;
}

div.head {
    font-family: sans-serif;
    font-size: 150%;
    text-align: justify;
    align-items: center;
    justify-content: left;
    height: 15%;
    width: 100%;
    padding-left: 1%;
    display: flex;
    background-color: #2c5730;
}

div.index {
    font-family: sans-serif;
    font-size: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
    height: auto;
    min-height: 77%;
    width: 12%;
    padding: 2%;
    float: left;
    background-color: #a0e4a7;
}

div.document {
    font-family: sans-serif;
    font-size: 100%;
    text-align: justify;
    align-items: left;
    justify-content: left;
    height: auto;
    min-height: 77%;
    width: 75%;
    padding: 2%;
    margin-right: 5%;
    float: right;
    background-color: #ffffff;
}

div.code_bash {
    font-family: monospace;
    font-size: 110%;
    text-align: left;
    width: 98%;
    margin-left: 0%;
    padding-left: 2%;
    background-color: #dfd6ca;
}

/* Index listing type */

li.index {
    list-style-type: none;
    margin-left: -40px;
    padding: 0%;
}

li.toc1 {
    list-style-type: circle;
    padding: 0%;
    font-family: sans-serif;
    font-size: 100%;
}

li.toc2 {
    list-style-type: disc;
    padding: 0%;
    font-family: sans-serif;
    font-size: 100;
}